/*
Syntax error: Invalid CSS after "...y: hsl(0,0%,90%": expected ")", was ";)"
        on line 8 of _scss/_variables.scss
        from line 2 of _scss/style.scss

3: *\/
4: 
5: /* Define color variables *\/
6: $transparent_background: rgba(255, 255, 255, 0.9);
7: $off_black: #333;
8: $neutral_gray: hsl(0,0%,90%;)
9: 
10: /* Use color variables for interface variables *\/
11: $core_text_color: $off_black;
12: $link_color: $off_black;
13: $container_background: white;

Backtrace:
_scss/_variables.scss:8
_scss/style.scss:2
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/scss/parser.rb:1314:in `expected'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/lexer.rb:216:in `expected!'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:578:in `assert_tok'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:401:in `funcall'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:380:in `ident'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:240:in `unary_not'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:240:in `unary_div'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:240:in `unary_minus'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:240:in `unary_plus'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:221:in `times_div_or_mod'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:221:in `plus_or_minus'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:221:in `relational'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:221:in `eq_or_neq'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:221:in `and_expr'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:221:in `or_expr'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:354:in `space'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:339:in `interpolation'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:287:in `expr'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:569:in `assert_expr'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/script/parser.rb:56:in `parse'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/scss/parser.rb:1175:in `sass_script'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/scss/parser.rb:605:in `variable'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/scss/parser.rb:659:in `block_child'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/scss/parser.rb:652:in `block_contents'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/scss/parser.rb:116:in `stylesheet'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/scss/parser.rb:41:in `parse'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/engine.rb:409:in `_to_tree'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/engine.rb:305:in `to_tree'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/stack.rb:88:in `block in with_import'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/stack.rb:88:in `with_import'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/engine.rb:274:in `render'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:248:in `block in watch'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.7.4/lib/listen/listener.rb:149:in `call'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.7.4/lib/listen/listener.rb:149:in `block in _wait_for_changes'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.7.4/lib/listen/listener.rb:138:in `loop'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.7.4/lib/listen/listener.rb:138:in `_wait_for_changes'
/Users/Dima/.rvm/gems/ruby-1.9.3-p327/gems/listen-2.7.4/lib/listen/listener.rb:42:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...y: hsl(0,0%,90%\": expected \")\", was \";)\"\A         on line 8 of _scss/_variables.scss\A         from line 2 of _scss/style.scss\A \A 3: */\A 4: \A 5: /* Define color variables */\A 6: $transparent_background: rgba(255, 255, 255, 0.9);\A 7: $off_black: #333;\A 8: $neutral_gray: hsl(0,0%,90%;)\A 9: \A 10: /* Use color variables for interface variables */\A 11: $core_text_color: $off_black;\A 12: $link_color: $off_black;\A 13: $container_background: white;"; }
