<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Blue Terminal — Energy Data Visualizer</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta name="description" content="Blue Terminal — Energy Data Visualizer">

{% if page.category == 'login_page' %}
      <style type="text/css">
        .js .flash {visibility: hidden;}
      </style>
      <script type="text/javascript">
        document.documentElement.className = 'js';
      </script>
{% endif %}

      <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/style.css">
{% if page.category == 'login_page' %}
      <link rel="stylesheet" href="{{ site.baseurl }}/css/royalslider/royalslider.css">
{% endif %}
      <script src="//use.typekit.net/rte7wfh.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>

{% if page.category == 'login_page' %}
      <script src="{{ site.baseurl }}/js/libs/jquery-1.8.3.min.js"></script>
      <script src="{{ site.baseurl }}/js/royalslider/jquery.royalslider.min.js"></script>
{% endif %}
  </head>

    <body>
      <div id='maincontent' class='content_container flash {{ page.category }}
'>
        <div class='main_header'>
          <div class='logo'>
            <img src='{{ site.baseurl }}/img/logo{% if page.category != 'login_page' %}_black{% endif %}.png'>
          </div>
          {% if page.category != 'login_page' %}
          <nav class='app_level'>
            <span class='menu_item'><a href=''>Elin Tayyar</a></span>
            <span class='menu_item'><a href=''>Settings</a></span>
            <span class='menu_item'><a href=''>Log Out</a></span>
          </nav>
          {% endif%}
        </div>

{{ content }}
      </div>
{% if page.category == 'login_page' %}
        <script>
            jQuery(document).ready(function($) {
                $(".royalSlider").royalSlider({
              transitionType: 'fade',
              randomizeSlides: true,
              controlNavigation: 'none',
              arrowsNavHideOnTouch: true,
              arrowsNav: false,
              loop: true,
              transitionSpeed: 1100,
              keyboardNavEnabled: true,
              autoPlay: {
                enabled: true,
                delay: 30000
              }
                });
            });
        </script>

        <script type="text/javascript">
          window.onload = function() {
            $("#maincontent").removeClass( "flash" ); }
        </script>
        <script src="{{ site.baseurl }}/js/libs/jquery-1.8.3.min.js"></script>
{% endif %}
    </body>
</html>
